@font-face {
    font-family:OpenSansL;
    src: url(../fonts/Open_Sans/static/OpenSans-Light.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/static/Oswald-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lightColor: #F2F2F2;
    --darkColor: #0D0D0D;
    --hoverColor: #9196A2;
}

body{
    background-color: var(--lightColor);
    font-family: "OpenSansL";
    background-image: url(../images/5\ New\ Makeup\ Releases\ at\ Sephora\ To\ Splurge\ On\ -\ thatgirlArlene.jpeg);
    background-position: center;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkColor);
    color: white;
    position: relative;
    z-index: 1
}

header .logo{
    margin: auto;
}

.navegador{
    width: 250px;
    top: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease;
    transform: translateX(-100%);
    z-index: 1001;
}

.visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.nav_link{
    color: var(--darkColor);
    display: block;
    padding: 15px 0;
    text-decoration: none;
    
}

.adentro{
    border-radius: 6px;
    padding-left: 20px;
}

.adentro:hover{
    background-color: var(--hoverColor);
}

.lista{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px;
    background-color: #bababa;
}

.lista_item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.lista_item--click{
    cursor: pointer;
}

.lista__boton{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.flecha{
    margin-left: auto;
    transition: transform .3s;
}

.lista_Mostrar{
    width: 80%;
    margin-left: auto;
    list-style: none;
    transition: height .4s ease;
    height: 0;
    overflow: hidden
}

.arrow .flecha{
    transform: rotate(90deg);
}

#cerrar{
    position: fixed;
    font-size: 30px;
    top: 50px;
    left: 10px;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    z-index: 1002; 
}

#abrir{
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 7%;
}

.carrito{
    margin-right: 20px;
    margin-bottom: 8px;
    right: 10%;
    position: absolute;
}

.promo-section{
    width: 100%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-section img{
    width: 60%;
    height: 40vh
}

footer {
    background-color: var(--darkColor);
}

.boletin {
    color: #fff;
    padding: 20px;
    text-align: center;
}

.boletin h3 {
    padding-bottom: 10px;
    font-size: 1em;
}

.boletin p {
    padding-bottom: 10px;
    font-size: 0.8em;
}

.submit {
    margin-left: 5px;
    padding: 5px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
    font-size: 9px;
}

label{
    font-size: 13px;
}

.submit:hover {
    letter-spacing: 3px;
    background-color: #3f3d3d;
    color: #fff;
}

#contactos {
    color: #fff;
    text-align: center;
    font-family: oswaldLight;
    font-size: 14px;
}

#derechos {
    color: #fff;
    text-align: center;
    font-family: oswaldLight;
    font-size: 14px;
    padding: 10px;
}

.bienvenida__titulo {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 10px 0 0 0;
}

.bienvenida__texto {
    color: #fff;
    width: 50%;
    padding: 20px;
    font-weight: 600;
    text-align: center;
}

.videoyTexto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.video {
    border-radius: 60%;
    margin: auto;
    margin-bottom: 50px;
}